
footer{
    background-color: var(--primary);
    height: 75px;
    
}

.footing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.footing-item{
    font-size: 22px;
    box-sizing: border-box;

}
.footing .footing-item-focus{
    font-size: 22px;
    margin-right: 3.5rem;
}

.footing a:hover{
    color:white;

}

