#banner{
    position: relative;
    overflow: hidden;
    padding: 6.0vw 0;
    display: flex;
    align-items: center;
}

#banner .content-one{
    position: relative;
    z-index: 2;
    height: auto;
    padding: 0;
    width: 92%;
    display: flex;
}

.sec-1 .content-one {
    margin: 0 auto;
    text-align: center;
}
#banner .content-one .inter-1 {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    text-align: center;
}

#banner .content-one .title-inter-1 {
    position: relative;
    display: block;
    color: #000;
    text-align: left;
    margin: 0;
    font-weight: 700;
    width: 100%;
    padding-right: 0;
    right: 0;
    opacity: 1;
    transform: translate(0,0);
}
#banner .content-one .title-inter-1 h1{
    margin-bottom: 10px;
}

.inter-1 h1{
    font-size: 60px;
}
.inter-1 h2{
    font-size: 33px;
}

#banner .content-one .descript-1 {
    text-align: left;
    width: 100%;
    max-width: 850px;
    margin: 30px 0 0;
}
#banner .content-one .descript-1 p {
    color: #1d1d1f;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: .008em;
    font-family: 'Comme', sans-serif;
}

.sec-1 p{
    margin-bottom: 1rem;
    font-family: 'Comme', sans-serif;
}

#banner .content-one .descript-1 .sign-up{
    margin: 0;
    text-align: left;
    
}

#banner .content-one .descript-1 label.sign-up-btn {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    color: black;
    background: var(--mint-green);
    height: 48px;
    line-height: 48px;
    width: 256px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}
#banner .content-one .descript-1 label.sign-up-btn:hover {
    background: black;
    color: white;

}

.sec-1 label.sign-up-btn {
    font-size: 16px;
    font-weight: 600;
    min-width: 256px;
    letter-spacing: .2em;
 }

 .sec-1 span.spn{
    color:black;
    margin-left: 1rem;
    font-family: 'Comme', sans-serif;
 }

 /* NEED to work on image responsiveness*/
 #banner .land-page-image-1 img{
    position: absolute;
    background-size: contain;
    max-width: 375px;
    max-height: 350px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    display: flex;
    object-fit: cover;
    margin-left: 5em;
}
@media only screen and (max-width: 1350px){
    #banner img{
     left: 770px;
    }
}
@media only screen and (max-width: 1180px){
    #banner img{
     left: 680px;
    }
}
@media only screen and (max-width: 980px){
    #bannerimg{
        overflow: hidden;
    }
   
}


#info-1{
    background: var(--primary);
}

#info-1 .content-two {
    width: 100%;
    padding: 5rem 0 3rem;
    text-align: center;
}

#info-1 .hp-title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}
#info-1 h2{
    font-size: 52.5px;
    font-family: 'Comme', sans-serif;

}


#info-1 p{
    font-size: 21px;
    letter-spacing: .010em;
    line-height: 1.13em;
    width: 100%;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Comme', sans-serif;
}

#offerings{
    background: whitesmoke;
}

#offerings h2{
    margin-top: 0px;
    text-align: center;
    color: var(--primary);
    font-size: 50px;
    font-family: 'Comme', sans-serif;
}
.content-three .hp-sec3-info p{
    text-align: center;
    color: var(--primary);
    font-size: 30px;
    font-family: 'Comme', sans-serif;
}

.card-setup{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}

.hp-card{
    background: black;
    border-radius: 5px;
    margin-bottom: 10px
}

.hp-card h3{
    text-align: center;
    background:var(--mint-green);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color:black;
    font-weight: 800;
    font-family: 'Comme', sans-serif;
}

.hp-card p{
    text-align: center;
    color: white;
    text-decoration: solid;
    font-weight: 500;
    font-family: 'Comme', sans-serif;
    font-size: 22px;
}













