@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --primary: #202020;
  --secondary: #3f3f3f;
  --lightgrey: #707070;
  --mint-green: #AAF0C1;
  --white: #fff;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #AAF0C1;;
}
body{
  color:#333;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
}
:primary-color{
  color: var(--primary);
}

:mint-color{
  color: var(--mint-green);
}