.lobby-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}

.lobby-details h2{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: var(--primary);
    margin-top: 3rem;
}

.lobby-details form{
    display: block;
    background-color: var(--primary);
    border-radius: 6px;
    margin:40px auto;
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
    margin-top: 50px;
    padding-top: 10px;
}
.lobby-credentials input{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--mint-green);
    resize: none;
    background-color: var(--secondary);
    color: var(--mint-green);
}
.lobby-credentials label{
    color:var(--mint-green);
    font-size: 25px;
    padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 10px;
    font-weight: 600;
}

.lobby-details button{
    margin: auto;
    cursor: pointer;
    background: var(--mint-green);
    width:175px;
    height:35px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Comme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.lobby-details button:hover{
    background-color: whitesmoke;
}

