.AboutUs h1{
    font-size: 60px;
    color:black;
    margin-bottom: 25px;
    padding-left: 20px;
    text-decoration: solid;
}

.AboutUs p{
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
}
.AboutUs{
    height: 1000px;
}

.AboutUs h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(40, end) /*Typing speed*/
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  