.AboutUs h1{
    font-size: 60px;
    color:black;
    margin-bottom: 25px;
    padding-left: 20px;
    text-decoration: solid;
}

.AboutUs p{
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    color:black;
}
.ab-pg{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}
