.contact-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}

.contact h1{
    font-size: 50px;
    color: var(--mint-green);
    padding-bottom: 5px;
    text-decoration: solid;
}


.contact form{
    display: block;
    background-color: var(--primary);
    border-radius: 6px;
    margin:40px auto;
    max-width: 650px;
    max-height: 1000px;
    padding: 20px;
    margin-top: 100px;
}

.form input, textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--mint-green);
    resize: none;
    background-color: var(--secondary);
    color: var(--mint-green);
}

.form button{
    margin: auto;
    cursor: pointer;
    background: var(--mint-green);
    width:150px;
    height:35px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Comme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.form .btn:hover{
    background-color: whitesmoke;
}

.form span{
    color:rgb(253, 34, 122);
    padding-left: 5px;
}



