.FAQ{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}

.FAQ h1{
    font-size: 60px;
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.FAQ p{
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;

}

.FAQ .Question{
    font-size: 40px;
    color: black;
    padding-left: 20px;
    text-decoration: underline;
    padding-bottom: 30px;
    padding-top: 20px;
}

