.FAQ{
    height:800px;
}

.FAQ h1{
    font-size: 60px;
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.FAQ p{
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;

}

.FAQ .Question{
    font-size: 40px;
    color: black;
    padding-left: 20px;
    text-decoration: underline;
    padding-bottom: 30px;
    padding-top: 20px;
}

.FAQ h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(40, end) /*Typing speed*/
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }