.containerf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.35fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 25px;
    height: 83vh;
    background-color: #707070;
  }
  
  .containerf1{
    display: grid;
    grid-gap: 20px;
    padding: 25px;
    column-span: all;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  
  .containerf2{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 25px;
    color:black;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .innercontainerf21{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .innercontainerf22{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
    .containerf3{
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-gap: 20px;
      padding: 25px;
      color:black;
      background-color: white;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .innercontainerf31{
      background-color: aquamarine;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .innercontainerf32{
        color: whitesmoke;
        background-color: blueviolet;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    
    .containerf4 .button__text{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
      background-color: white;
      color: green;
    }
   
    .innercontainerf3{
  
    }
    .innercontainerf4{
      
    }
  
  
  .containerf5{
      grid-row-start: 4;
      grid-row-end: 5;
  }
  .containerf3 {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  .containerf4 {
      grid-column-start: 1;
      grid-column-end: 4;
    }