.forum-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: 0.35fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 25px;
  height: 950px;
  background-color: #707070;
}

.forum-header {
  display: grid;
  grid-gap: 20px;
  padding: 25px;
  column-span: all;
  color: black;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #3f3f3f;
  color: white;
  justify-content: center;
  align-items: center;
  border: 10px solid #f44336;
  border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;

}

.forum-comment {
  display: grid;
  grid-gap: 20px;
  padding: 25px;
  color: black;
  background-color: #3f3f3f;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
  align-items: center;
  border: 10px solid #f44336;
  border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
}
.comment-button__text{
 color: white;
}

.forum-post {
  justify-content: center;
  display: grid;
  padding: 25px;
  height: 135px;
  color:black;
  background-color: #3f3f3f;
  grid-column-start: 1;
  grid-column-end: 4;
  border: 10px solid #f44336;
  border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
}
.post-input-for{
  border: 5px solid var(--mint-green);
  padding: 20px;
  font-size: 24px;
  justify-content: center;
  padding: 30px;
}
.inner-post{
  width: 80%;
  height: 50px;
  font-size: 24px;
  justify-content: center;
}
.post-button__text{
  justify-content: center;
  width: 80%;
  font-size: 30px;
  color: white;
  border: 5px solid var(--mint-green);
  background-color: #707070;
  font-weight: bold;
  padding: 10px;
}

.forum-return {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #707070;
  color: green;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.return-button__text{
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;  
}


.comment-text {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
}

