.login-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}

.login-form h1{
    font-size: 60px;
    color: var(--mint-green);
    padding-bottom: 25px;
    margin: 15px auto;
    text-align: center;


}

.login-box form{
    display: block;
    background-color: var(--primary);
    border-radius: 6px;
    margin:40px auto;
    max-width: 800px;
    max-height: 1000px;
    padding: 20px;
    margin-top: 150px;
    padding-top: 10px;
}

.login-sectioning input{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--mint-green);
    resize: none;
    background-color: var(--secondary);
    color: var(--mint-green);
}
.login-sectioning label{
    color:var(--mint-green);
    font-size: 22px;
    padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 10px;
}

.login-sectioning span{
    color:rgb(253, 34, 122);
    padding-left: 45px;
}

/*
.login-form button{
    background-color: var(--mint-green);
    margin-top: 20px;
    margin-left: 230px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 45px;
    height:35px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
*/

.login-form button{
    margin: auto;
    cursor: pointer;
    background: var(--mint-green);
    width:150px;
    height:35px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Comme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.login-form button:hover{
    background-color: whitesmoke;
}

.login-form p{
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
    margin-top: 1em;
    font-weight: 600;
}


.log-1 a{
    color:black;

}


