.Plans{
    height: 800px;
}

.Plans h1{
    font-size: 60px;
    color: black;
    padding-left: 20px;
    padding-bottom: 20px;
}
.Plans p{
    font-size: 30px;
    color: black;
    padding-left: 20px;
    padding-bottom: 20px;
}
.plan-options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.plan-options li{
    margin-top: 45px;
    padding: 30px;
    font-size: 35px;
    color:black;
    text-decoration: solid;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: #AAF0C1;
    padding-left: 20px;
}
.plan-options p2{
    font-size: 20px;
    color: black;
}

.Plans h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(40, end) /*Typing speed*/
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }