.register-page{
    height:900px
}

.register-box form{
    display: block;
    background-color: var(--primary);
    border-radius: 6px;
    margin:40px auto;
    max-width: 650px;
    max-height: 1000px;
    padding: 20px;
    margin-top: 100px;
    padding-top: 10px;
}

.register-form h1{
    font-size: 50px;
    color: var(--mint-green);
    padding-bottom: 25px;
}
.register-form input{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--mint-green);
    resize: none;
    background-color: var(--secondary);
    color: var(--mint-green);
}

.register-form label{
    color:var(--mint-green);
    font-size: 22px;
    padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 10px;
}

.register-form button{
    margin-left: 150px;
    margin-bottom: 25px;
    cursor: pointer;
}

.TOS label{
    text-decoration: underline;
}

.TOS a:hover{
    color: whitesmoke;
}

.register-form button:hover{
    background-color: whitesmoke;
}

.reg-1 a{
    color: black;
}







 