.lang-select-page{
  height: 920px;
}

.lang-select-page h2{
  font-size: 45px;
  color: black;
  text-align: center;
}
.language-selection ul{
  display: flex;
  margin: 20px;
  margin-left: 425px;
  margin-top: 250px;

}

.language-selection li{
  font-size: 25px;
  margin-right:50px;
  color: black;
  text-decoration: underline;
}
.language-selection input{
  width: 25px;
  height: 25px;
}

.lang-select-page a{
  color: black;
  margin-bottom: 100px;
}

.lang-select-page label:hover{
  background-color: var(--mint-green);
}

.lang-select-page label{
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin-left: 800px;
  margin-bottom: 100px;

}