.tos-page{
    height: 800px;
}

.tos-content h1{
    font-size: 60px;
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.tos-content p{
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.tos-back label{
    cursor: pointer;
    color: var(--mint-green);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--mint-green);
    font-size: 25px;
    background-color: var(--secondary);
  }
  
  .tos-back{
    margin-top:175px;
    text-align: end;
  }

  .tos-back a{
    color: var(--mint-green);
    padding: 10px;
  }





