.tos-page{
    height: 800px;
}

.tos-content h1{
    font-size: 60px;
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.tos-content p{
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}


.tos-content h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(40, end) /*Typing speed*/
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.tos-back label{
    cursor: pointer;
    color: var(--mint-green);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--mint-green);
    font-size: 25px;
    background-color: var(--secondary);
  }
  .tos-back{
    margin-top:175px;
    text-align: end;
  }

  .tos-back a{
    color: var(--mint-green);
    padding: 10px;
  }





