
footer{
    background-color: var(--primary);
    height: 75px;
}
.footing-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: auto;
}

.footing-item li{
    font-size: 22px;
}


