.SubHeader{
    background-color: var(--lightgrey);
    border-bottom-right-radius: 35%;
    height: 300px;

}

.SubHeader h2{
    font-size: 30px;
    color: #AAF0C1;
    padding-bottom: 10px;
    padding-top: 25px;
    padding-left: 20px;
}

.SubHeader p{
    color: #AAF0C1;
    padding-bottom: 5px;
    padding-left: 20px;
}

.btn-custom button{
    left: 20%;

}
