.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary);
}

.navbar img{
    width: 80px;
}

.nav-menu{
    display: flex;
    
}

.nav-item{
    padding: 1rem;
}
.hamburger{
    display: none;
}

/*
For smaller screens we display hamburger option menu.
*/
@media screen and (max-width:940px){
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary);
        height: 100%;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .nav-item{
        margin: 1.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .nav-menu.active{
        left: 0;

    }

    .hamburger{
        display: flex;

    }
}