.faq-pg{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}

.FAQ{
    max-width: 75%;
    margin: auto;
}
.FAQ h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 600;
    margin-top: 1em;
}

.faq-drop{ 
    background-color: var(--primary);
    color: white;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}


.faq-context p{
    color: black;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Comme', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 600;
    padding-left: 30px;
}


.faq-context{
    border: 1px solid black;
    margin-bottom: 2em;
    background-color: wheat;

}





 




