.inboxPG{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}
.InboxContainer{
    display: grid;
    grid-template-rows: 0.02fr 1fr;
    grid-gap: 10px;
    height: auto;
    padding: 10px;
}

.friendsInbox h3{
    color: black;
}
.inboxHeader{
    border: 1px solid black;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.innerInbox{
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
                    
.friendsInbox{
    border: 1px solid black;
    overflow-y: auto;
}

.leftInbox{
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    height: auto;   
}

.rightInbox{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    gap: 15px;
    padding: 10px;
}

.userDetailInbox{
    border: 1px solid black;
}
                    
.contentInbox{
    border: 1px solid black;
    overflow-y: auto;
}

.typeMessage{
    border: 1px solid black;
}
.typeMessage input {
    height: 100%;
    width: 80%;
    border: 1px solid black;
}
.typeMessage post-button {
    height: 100%;
    width: 20%;
    border: 1px solid black;
}
.typeMessage{
    border: 1px solid black;
}
.submitButtonText{
    height: 100%;
    width: 20%; 
    border: 20px solid var(--mint-green);
    padding: 30px;
    font-size: 20px;
}
.inboxInputText{
    margin-top: 0;
}

@media (min-width: 1300px) {
    .InboxContainer {
      height: auto;
    }
    .rightInbox {
      grid-template-rows: 0.25fr 1fr 0.25fr;
    }
    .leftInbox{
        padding: 10px;
        border: 1px solid black;
        height: 100%;   
        justify-content: center;
        align-items: center;
    }
    .submitButtonText{
        height: 100%;
        width: 20%; 
        border: 5px solid var(--mint-green);
        font-size: 20px;
    }
    .inboxInputText{
        margin-top: 0;
    }
    .leftInbox button{
        justify-content: center;
        align-self: center;
    }
    .friendsInbox{
        height: 90%;
        overflow-y: auto;
    }
    .leftInbox .button{
        width: 100%;
    }
    .inboxHeader{
        padding: 20px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
  }
  
  @media (max-width: 900px) {
    .typeMessage input {
        height: 100%;
        width: 65%;
        border: 1px solid black;
    }
    .submitButtonText{
        height: 100%;
        width: 35%; 
        padding: 30px;
        font-size: 20px;
    }
  }