.Plans{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}

.Plans h1{
    font-size: 60px;
    color: black;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Comme', sans-serif;
    margin-top: 0.5em;
    text-align: center;
}
.Plans p{
    font-size: 30px;
    color: black;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Comme', sans-serif;
    text-align: center;
}

 .Plans .pp-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 15px;
    padding: 15px;

 }
 .Plans .pp-grid .pp-card a{
    color: black;
 }

 .Plans .pp-grid .pp-card{
     width: 300px;
     border: 1px solid black;
     text-align: center;
     padding: 20px;
     background: var(--primary);
     border-radius: 8px;
 }

 .Plans .pp-grid .pp-card .pkg-name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
 }

 .Plans .pp-grid .pp-card .pkg-price{
    margin-bottom: 20px;
    color: white;
 }


 .Plans .pp-grid .pp-card .pkg-price b{
    display: block;
    font-size: 50px;
    margin-bottom: -5px;
    color: white;
 }

 .Plans .pp-grid .pp-card .pkg-features > *{
    padding: 8px 0px;
    color: white;
    border-bottom: 1px solid white;
 }
 .Plans .pp-grid .pp-card span{
    color: white;
 }

 .Plans .pp-grid .pp-card .pkg-buy-btn button{
    width: 100%;
    margin: 25px 0px 0px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    outline: none;
    border:none;
    font-weight: 500;
    cursor: pointer;
 }
 .Plans .pp-grid .pp-card.golden button:hover{
    background: gold;
 }
 .Plans .pp-grid .pp-card.pp-card.premium button:hover{
    background: var(--mint-green);
 }
 .Plans .pp-grid .pp-card.pp-card.standard button:hover{
    background: lightgrey;
 }  

 .Plans .pp-grid .pp-card.golden:hover{
    transform: scale(1.1);
    border: 3px solid gold;
    transition: 0.8s;
 }

 .Plans .pp-grid .pp-card.premium:hover{
    transform: scale(1.1);
    border: 3px solid var(--mint-green);
    transition: 0.8s;
 }

 .Plans .pp-grid .pp-card.standard:hover{
    transform: scale(1.1);
    border: 3px solid lightgray;
    transition: 0.8s;
 }

 .Plans .pp-grid .pp-card.golden .pkg-name{
    color: gold;
 }
 
 .Plans .pp-grid .pp-card.premium .pkg-name{
    color: var(--mint-green);
 }

 .Plans .pp-grid .pp-card.standard .pkg-name{
    color: lightgrey;
 }






