.user-entire{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
}

.UserProfile {
    background-color: var(--secondary);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width:900px;
    height: 700px;
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 50px;
    
}

.UserProfile .User-Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;

}

.UserProfile .User-Info img {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--mint-green);
 
}
.User-Info h2{
    font-size: 35px;
    margin-left: -100px;
    color: var(--mint-green);
}

.UserDetails h3{
    padding-top:-200px;
    color: var(--mint-green);
   
}

.UserDetails h4{
    font-size: 22px;
    margin-top:-34.5px;
    margin-left: 600px;
    text-decoration: underline;
    color: var(--mint-green);
}
.user-status li{
    margin-bottom: 35px;
    margin-left: 600px; 
    color:black;
    font-size: 20px;
    cursor: pointer;
}

.online li{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.online li:hover{
    background-color: var(--mint-green);
}

.offline li{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.offline li:hover{
    background-color: red;
}

.dnd li{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.dnd li:hover{
    background-color: yellow;
}