
footer{
    background-color: var(--primary);
    height: 75px;
    
}
.footing-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
  
}


.footing-item li{
    font-size: 22px;
}

.footing-item li :hover{
    color: white;
}
