.friendsHeader img{
    width: 100%;
    height: 300px;
    background-size: cover;
    object-position: center center;
}
.friendsContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    height: auto;
    padding: 10px;
}
.leftfriends{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: auto;
}
.rightfriends h3{
    color: black;
    font:bold;
    font-family: 'Comme', sans-serif;
}
.leftfriends img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    /*to adjust height of circle*/
    margin-top: -80px;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    border: 5px solid black;
    border-style: solid;
    border-color: rgb(146, 87, 218);
}

.ProfileNames1{
    color: black;
}
.rightfriends{
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto;
    gap: 15px;
    padding: 10px;
}

.friendsPacket{
    border: 20px solid #f44336;
    border-image: linear-gradient(to bottom right, rgb(118, 41, 212), #2196f3) 1;
    padding: 30px;
}
.descriptionPacket{
    border: 5px solid black;
    border-left-color: #9257da;
    border-bottom-color: #9257da; 
    padding: 30px;
}
.languagePacket{
    border: 5px solid black;
    border-left-color: #9257da;
    border-bottom-color: #9257da; 
    padding: 30px;
}

.friendsData li{ 
    font-family: 'Montserrat', sans-serif;
}

.leftfriends .button .button__text{
    margin-top: 5px;
    color: black;
}

/*follow button*/
.button .bluebox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    background-color: #9257da;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}
.button button.bluebox{
    align-items: center;
    background-color: #9257da;
    border-radius: 5px;
    color: white;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-top: 12px;
    padding: 10px;
    text-decoration: none;
    width: 240px;
    cursor: pointer;
}

@media (min-width: 1300px) {
    .friendsContainer {
      grid-template-columns: 0.4fr 1fr; 
      height: 950px;
    }
  
    .rightfriends {
      grid-template-rows: 0.4fr 0.3fr 0.3fr;
    }
  }