/*format*/
.global-forum-container {
  display: grid;
  grid-template-rows: 0.1fr 0.9fr 0.3fr 0.1;
  min-height: 100vh;
  padding: 50px;
  border: 4px solid var(--mint-green);
}
.global-forum-header{
  width: auto;
  height: max-content;
}
/*overflow checker*/
.global-forum-main{
  padding: 100px;
  border: 4px solid var(--mint-green);
  background-color: grey;  
  overflow: auto;
  height: 70vh;
}
.global-forum-section{
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center; 
  margin: 15px;
}
.global-forum-section2{
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center; 
}
.global-forum-container-1 {
  display: grid;
  grid-gap: 20px;
  padding: 25px;
  column-span: all;
  color: black;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.global-forum-container-1-item-1 {
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 2;
}
.global-forum-container-1-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.global-forum-create{
  display: grid;
  padding: 25px;
  justify-content: center; 
  align-items: center;
  background-color: var(--primary);
  border: 4px solid var(--mint-green);
}
.global-forum-button-text-create{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
}
.global-forum-name{
  border: 4px solid var(--mint-green);
  padding: 50px;
  background-color: var(--primary);
  font-size: 24px;
  font-weight: bold;
}
.global-forum-name2{
  border: 4px solid var(--mint-green);
  padding: 50px;
  background-color: var(--primary);
  font-size: 24px;
  font-weight: bold;
}
.global-forum-name2 h1{
  color: white;
}
.global-forum-participants .global-forum-button-participation {
  align-self: center;
  grid-gap: 10px;
}
.global-forum-participants{
  border: 4px solid var(--mint-green);
  background-color: var(--primary);
  gap: 10px; 
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-gap: 10px;
  }
.global-forum-participants2{
  border: 4px solid var(--mint-green);
  padding: 50px;
  background-color: var(--primary);
  font-size: 24px;
  font-weight: bold;
}
.global-forum-participants2 h2{
  color: white;
}

.global-forum-button-participation{
  text-align: center;
}

.global-forum-return{
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.global-forum-button-text-return{
    font-size: 1.7rem;
    padding: 10px 20px;
    color: white;
    border: 2px solid var(--mint-green);
    border-radius: 5px;  
    background-color: var(--primary);
}

.global-forum-button-text{
  color: white;
  font-size: 30px;
  align-self: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: auto;
  background-color: var(--primary);
  padding: 5px;
}
.global-forum-button-text text{
  text-align: center;
}
/*-----------------------------*/

.global-forum-container-2 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 25px;
  color: black;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 4;
}

.global-forum-container-2-item-1 {
  background-color: aquamarine;
  color: black;
  grid-column-start: 1;
  grid-column-end: 2;
}

.global-forum-container-2-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.global-forum-container-3 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 25px;
  color: black;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 4;
}

.global-forum-container-3-item-1 {
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 2;
}

.global-forum-container-3-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.global-forum-container-4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.global-forum-container-4-item {
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: white;
  color: green;
}

.global-forum-container-5 {
  grid-row-start: 4;
  grid-row-end: 5;
}

.global-forum-container-3 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.global-forum-container-4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.global-forum-create .global-forum-button-text-create .gb{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
}

.global-forum-header1{
  border: 4px solid var(--mint-green);
  padding: 50%;
  background-color: var(--primary);
}
.global-forum-header2{
  border: 4px solid var(--mint-green);
  padding: 50%;
  background-color: var(--primary);
}

@media (max-width: 1000px) {
  .global-forum-button-text{
    color: white;
  }
  .global-forum-button-text, .global-forum-participants2{
    display: none;
  }
}