.containerL{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.5fr;
    grid-gap: 10px;
    padding: 70px;
    height: 950px; 
    background-color: #707070;
    color: white;
  }
  .containerL1{
    display: grid;
    grid-gap: 20px;
    padding: 25px;
    column-span: all;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
    color: white;
    border: 10px solid #f44336;
    border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
    
  }
  
  .containerL2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 25px;
    color:black;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #3f3f3f;
    border: 10px solid #f44336;
    border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
    
  }
  
    .containerL3{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.35fr 1fr 0.5fr;
      grid-gap: 20px;
      padding: 25px;
      color:black;
      background-color: white;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .innercontainerL35{
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .innercontainerEx51{
        color: white;
        background-color: #707070;
        grid-column-start: 1;
        grid-column-end: 4;
      }
    .innercontainerL31{
      background-color: white;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .innercontainerL32{
        color: whitesmoke;
        background-color: white;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .innercontainerL33{
        color: whitesmoke;
        background-color: white;
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .containerL4{
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      grid-gap: 20px;
      padding: 50px;
      color:black;
      grid-column-start: 1;
      grid-column-end: 4;
      }
      .innercontainerL42{
          color: black;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .innercontainerL43{
        color: whitesmoke;
        font-size: 4em; 
        background-color: palevioletred;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .innercontainerL43 .button__text{
        font-size: 1.9em; 
      }
  
  .containerL5{
    display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 25px;
      color:black;
      background-color: #3f3f3f;
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 4;
      border: 10px solid #f44336;
      border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
    
  }
  .innercontainerL51{
    grid-column-start: 3;
    grid-column-end: 4;
    color: white;
  }

  .containerLF1{
    color: white;
    margin-bottom: 100px;
    border: 10px solid #f44336;
    border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1.2em; 
    font-family: Arial, sans-serif; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center;
  }

  .containerE5{
    grid-column-start: 3;
    grid-column-end: 4;
    color: white;
    border: 2px solid white; 
    padding: 10px;
  }
  .containerE52{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    color: white;
  }
  .containerResults5{
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 150px;
  }

  /*--------------------------------*/
  .lesson-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  .lesson-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-gap: 10px;
    padding: 70px; 
    height: 950px;
    background-color: #707070;
    color: white;
  }
  .lesson-header{
    border: 10px solid #f44336;
    border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: #3f3f3f;
  }
  .lesson-footer{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 25px;
      color:black;
      background-color: #3f3f3f;
      grid-column-start: 3;
      grid-column-end: 4;
      border: 10px solid #f44336;
      border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
  }

  .lesson-card-image img {
    max-width: 100%;
    height: auto;
  }
  .lesson-card{
    color: white;
    text-align: center;
    background-color: #3f3f3f;
    border: 10px solid #f44336;
    border-image: linear-gradient(to bottom right, #f44336, #2196f3) 1;
  }
  .lesson-button__text{
    color: white;
    display: flex;
    justify-content: center;
    }