.user-entire{
    display: flex;
    flex-direction: column;
    min-height: auto;
    background: whitesmoke;
}

.UserProfile {  
    padding: 30px;
    background-color: var(--secondary);
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.45fr 0.45fr;
    color: white;
    justify-items:center;
    align-items: center;
}

.User-Info h4{
    padding: 10px;
    text-align: center;
}
 .editProfile button{
   width: 150px;
   height: 30px;
   margin-bottom: 1rem;
   margin-top: 1rem;
   background: var(--mint-green);
   border-radius: 5px;
   cursor: pointer;
   font-weight: 600;
   font-size: 18px;
}
.editProfile input[type=file]::file-selector-button{
    width: 125px;
    height: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: var(--mint-green);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.editProfile input[type=file]::file-selector-button:hover{
    background-color: whitesmoke;
}

.online h3{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    color:whitesmoke;
}

.online h3:hover{
    background-color: var(--mint-green);
}

.offline h3{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    color:whitesmoke;
}

.offline h3:hover{
    background-color: red;
}

.dnd h3{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    color:whitesmoke;
}

.dnd h3:hover{
    background-color: yellow;
}

.UserProfile .User-Info img {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--mint-green);
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 180px;
    max-height: 180px;
}
.User-Info{
    grid-column-start: 2;
    grid-column-end: 3;
}

.user-status{
    border: 3px solid black;
    border-color: var(--mint-green);
    border-bottom-color: var(--secondary);
    padding: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
}

.user-status button{
    width: 150px;
    height: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: var(--mint-green);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}
.user-status h4{
    margin-bottom: 1rem;
    font-weight: 600;
}

.descriptionContainer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 5rem;
    width: 100%;
}
.descriptionContainer input{
    text-align: start;
}

.descriptionContainer .editDescription{
    border: 3px solid black;
    border-color: var(--mint-green);
    padding: 10px;
    height: 100%;
    width: 100%;
}
.user-entire .button .greenbox{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: var(--mint-green);
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.user-entire .button{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 12rem;
}

.langSelectionBox{
    border: 3px solid black;
    border-color: var(--mint-green);
    border-bottom-color: var(--secondary);
    padding: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    justify-self: center;
    text-align: center;
}
.langSelectionBox h2{
    color:whitesmoke;
    font-weight: 700;
    font-size: 45px;
}
.innerLangSelection{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.innerLangSelection ul{
    list-style: none;
    font-size: 30px;
    padding: 0;
    margin: 0;
    display: flex;
}
.innerLangSelection ul li{
    margin-right: 50px;
    text-align: center;
}

@media (max-width: 1300px) {
    .innerLangSelection ul li{
        margin-right: 15px;
        text-align: center;
    }
  }